node_modules
.vs
# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Rider
.idea/

# NuGet
*.nupkg
packages/
*.snupkg

# Resharper
_ReSharper*/
*.DotSettings.user

# DotCover
*.dotCover

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.vspscc
*.vssscc

# Windows image file caches
Thumbs.db
ehthumbs.db

# Visual Studio Code
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.vsidx
*.dbmdl
*.bak
*.backup
*.mdf
*.ldf
